.text1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    width: 300px;   
    line-height: 24px;
}

.views {
    margin-top: -12px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
}

.MikaelNogueira {
    margin-top: 33px;
    opacity: 70%;
}

.lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 33px;
    opacity: 70%;
    line-height: 25px;
    width: 400px;
}

svg {
    color: gray;
    width: 20px;
}

.red {
    margin-top: 40px;
    background-color: rgb(226, 76, 76);
    height: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    
}